body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #5D7A5D;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.quiz-container {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 20px;
    background-color: #5D7A5D;
    color: #0b032d;
    padding: 20px;
    border-radius: 10px;
   /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    width: 90%; /* Set width to 90% of the viewport */
    max-width: 400px; /* Set max-width to 400px */
    font-weight: bold; 
}



h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
    font-weight: bold; 

}

p{
    font-size: 10px;
}

p1{
    font-size: 10px;
    text-align: center;
    padding-top: 400px;
}

.start-button {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #66593D; 
    border: none;
    color: #312500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 0px;
}


.start-button:hover {
    background-color: #82724e;
    color: #312500;
}

.about-button {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #B4A88A; 
    border: none;
    color: #312500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 0px;
}

.about-button:hover {
    background-color: #d0c29f;
    color: #312500;
}

.start-image {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 300px; /* Set a maximum height to prevent excessively tall images */
}

.answer-button {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #843b62;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
}

.answer-button:hover {
    background-color: #ffffff;
    color: #090808;
}


#result {
    /*margin-top: 20px;*/
    padding: 10px;
    background-color: #ffb997;
    /*border: 2px solid #ddd;
    border-radius: 5px;*/
    display: none;
    width: 90%; /* Set width to 90% of the viewport */
    max-width: 400px; /* Set max-width to 400px */
}

#quiz p{
    font-size: 22px;
    margin: 10px 0;

}
#result p {
    font-size: 18px;
    margin: 10px 0;
}

#quiz img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 300px; /* Set a maximum height to prevent excessively tall images */
    display: block; /* Ensure the image is displayed as a block element */
    margin: auto; /* Center the image horizontally */
    font-size: 24px;
}

question-image {
    max-width: 360px;
    height: auto;
    align-items: center;
    margin: 4px;
}

.result-text {
    flex-grow: 1; /* Allow text to expand and take available space */
}

.result-image-container {
    margin-top: 20px; /* Adjust as needed */
    text-align: center;
    align-items: center;
}

.result-image img {
    max-width: 360px;
    height: auto;
    align-items: center;
    margin: 4px;
    margin-top: 20px;
}

footer {
    text-align: center;
}
  

#question-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    color: #0b032d;
    margin-bottom: 15px;
}

.start-image {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 200px; /* Set a maximum height to prevent excessively tall images */
}